@font-face {
  font-family: 'aleo';
  font-weight: normal;
  src: url('~static/fonts/aleo/regular/Aleo-Regular.eot'); /* IE9 Compat Mode */
  src: url('~static/fonts/aleo/regular/Aleo-Regular.woff') format('woff'),
       url('~static/fonts/aleo/regular/Aleo-Regular.otf') format('otf'),
       url('~static/fonts/aleo/regular/Aleo-Regular.eot') format('eot');
}
@font-face {
  font-family: 'aleo-bold';
  font-weight: normal;
  src: url('~static/fonts/aleo/bold/Aleo-Bold.eot'); /* IE9 Compat Mode */
  src: url('~static/fonts/aleo/bold/Aleo-Bold.woff') format('woff'),
       url('~static/fonts/aleo/bold/Aleo-Bold.otf') format('otf'),
       url('~static/fonts/aleo/bold/Aleo-Bold.eot') format('eot');
}
@font-face {
  font-family: 'aleo-light';
  font-weight: normal;
  src: url('~static/fonts/aleo/light/Aleo-Light.eot'); /* IE9 Compat Mode */
  src: url('~static/fonts/aleo/light/Aleo-Light.woff') format('woff'),
       url('~static/fonts/aleo/light/Aleo-Light.otf') format('otf'),
       url('~static/fonts/aleo/light/Aleo-Light.eot') format('eot');
}
@font-face {
  font-family: 'aleo-italic';
  font-weight: normal;
  src: url('~static/fonts/aleo/italic/Aleo-Italic.eot'); /* IE9 Compat Mode */
  src: url('~static/fonts/aleo/italic/Aleo-Italic.woff') format('woff'),
       url('~static/fonts/aleo/italic/Aleo-Italic.otf') format('otf'),
       url('~static/fonts/aleo/italic/Aleo-Italic.eot') format('eot');
}
@font-face {
  font-family: 'aleo-bold-italic';
  font-weight: normal;
  src: url('~static/fonts/aleo/bold-italic/Aleo-BoldItalic.eot'); /* IE9 Compat Mode */
  src: url('~static/fonts/aleo/bold-italic/Aleo-BoldItalic.woff') format('woff'),
       url('~static/fonts/aleo/bold-italic/Aleo-BoldItalic.otf') format('otf'),
       url('~static/fonts/aleo/bold-italic/Aleo-BoldItalic.eot') format('eot');
}
@font-face {
  font-family: 'aleo-light-italic';
  font-weight: normal;
  src: url('~static/fonts/aleo/light-italic/Aleo-LightItalic.eot'); /* IE9 Compat Mode */
  src: url('~static/fonts/aleo/light-italic/Aleo-LightItalic.woff') format('woff'),
       url('~static/fonts/aleo/light-italic/Aleo-LightItalic.otf') format('otf'),
       url('~static/fonts/aleo/light-italic/Aleo-LightItalic.eot') format('eot');
}
